*~
*.gem
*.rbc
*.swp
.bundle
.config
.env
.ruby-version
coverage
Gemfile.lock
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor

# YARD artifacts
.yardoc
_yardoc
doc/
